<div class="author">
  <h1 class="author__heading">"Hi, I am Osheen Rayeen".</h1>
  <p class="author__body">"Web developer and Data Analyst</p>
</div>
<img
  src="/img/hero-image.webp"
  alt="person looking out through window "
  class="hero-image"
  width="600"
  height="528"
/>
<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>
  <ul class="article-ul">
    <li>
      <a href="#" class="link article-list">
        <span>Post Title</span>
        <span class="article-list__date">Date</span></a
      >
    </li>
  </ul>
  <a href="#" class="pagination">&lt; View Older Posts</a>
</section>
